body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2018/06/21/13/57/clouds-3488632_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 230px;
}

input:focus {
  border-color: #007BFF;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
  outline: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: royalblue;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #007BFF;
  transform: scale(1.1);
}

#app {
  height: 300px;
  width: 350px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#result{
  width: 280px;
  text-align: center;
  background-color: rgb(239, 196, 143);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 18px;
}

#result:hover{
  background-color: rgb(255, 198, 91);
  transform: scale(1.05);
}

p {
  margin: 5px 0;
}

strong {
  color: #ff0000;
}

.loading {
  font-size: 1.2em;
  color: #000000;
}
